@import "reset.css";

.screen {
  height: 100vh;
  background-color: #ffffff;
  margin: 0px 20px;
  max-width: 600px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-company_title {
  margin: 16px 0px 51px 0px;
}